@media (min-width: 1200px) {
#App {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 10px;

}

#Heading {
    border-bottom: solid black 1px; 
}

#Left {
    border-right: solid black 1px; 
}

#Right {
    grid-row: span 2;
}

}


@media (max-width: 1100px) and (min-height:1200px) {

#App {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 10px;
}

#Heading {
    border-bottom: solid black 1px; 
}

#Left {
    border-right: solid black 1px; 
}


}