.headingg {
  color: white;
  font-size: 25px;
}

#socials {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}


@media (min-width: 450px) {

#vp-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100vh; 
}

#lhs, #rhs {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
      border: solid black 1px; 
}

#article {
  height: 50vh;
}

video {
  width: 20vw;
}

}


@media (max-width: 449px) {

#vp-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
}

#lhs, #rhs {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
    border: solid black 1px; 
}

#article {
  height: 30vh;
}

video {
  width: 70vw;
}

}     